.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: rgba(0, 0, 0, 0.13);
		backdrop-filter: blur(5px);
	}
	&__body {
		position: relative;
		z-index: 2;
		border: 1px solid red;
		width: 500px;
		background: #fff;
		border-radius: 20px;
		overflow: hidden;

		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 30px 20px 20px;
	}

	&__close {
		position: absolute;
		top: 5px;
		right: 5px;
		font-size: 30px;
		background: transparent;
		border: 0;
		cursor: pointer;
	}
}

.loader {
	height: 10px;
	transition: all 0.3s ease 0s;
	border: 1px solid rgb(209, 209, 209);
	border-radius: 20px;
	position: relative;
	margin-bottom: 30px;
	&::after,
	&::before {
		position: absolute;
		top: 100%;
		color: #000;
	}

	&::before {
		content: '0%';
		left: 0;
	}

	&::after {
		content: '100%';
		right: 0;
	}

	.loader-bg {
		width: 100%;
		background: rgb(22, 211, 22);
		height: 10px;
		transition: all 1s ease 0s;
		border-radius: 20px;
	}
}
