.wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 30px;
}

.add-portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 150px;
	cursor: pointer;
	border: 1px solid #000;
	cursor: pointer;
	@media (any-hover: hover) {
		&:hover {
			svg {
				width: 25%;
			}
		}
	}
	svg {
		width: 20%;
		transition: all 0.3s ease 0s;
	}
}

.title {
	font-size: 70px;
	text-align: center;
	margin: 50px 0 20px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}
