.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	@media (max-width: 962px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 480px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.add-portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 150px;
	cursor: pointer;
	border: 1px solid #000;
	cursor: pointer;
	min-height: 300px;
	@media (any-hover: hover) {
		&:hover {
			svg {
				width: 25%;
			}
		}
	}
	svg {
		height: 100%;
		width: 20%;
		transition: all 0.3s ease 0s;
	}
}

.title {
	font-size: 5vw;
	text-align: center;
	margin: 50px 0 20px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}
